%% erlang compiler directives
{erl_opts, [{src_dirs, ["src","lib/*/src"]}]}.

%% deps directory is ./lib
{deps_dir, ["lib"]}.

%% depend on mochiweb
{deps, [{mochiweb, "1.5.*", {git, "git://github.com/mochi/mochiweb.git",{branch, "master"}}},
        {epgsql, "1.3", {git, "git://github.com/kofron/epgsql.git", {branch, "master"}}}]}.